body {
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 35%, rgba(179,220,237,1) 81%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(35%, rgba(41,184,229,1)), color-stop(81%, rgba(179,220,237,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 35%, rgba(179,220,237,1) 81%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 35%, rgba(179,220,237,1) 81%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 35%, rgba(179,220,237,1) 81%, rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 35%, rgba(179,220,237,1) 81%, rgba(188,224,238,1) 100%);
font-family: 'Roboto', sans-serif;
}

section {
    width: 360px;
    margin: 100px auto; /* centruje */
    background: #F7F7F7;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

section > h1 {
    background: #1f71a8;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
}

section > h1 > .fa-edit {
    float: right;
}

section > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section > ul > li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-weight: 600;
}

section > ul > li:nth-child(2n) {
    background: #f7f7f7;
}

section > ul > li > span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

section > ul > li:hover span {
    width: 40px;
    opacity: 1.0;
}

section > input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

section > input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

.completed {
    color: gray;
    text-decoration: line-through;
}